.mix {
    padding: 16px;
    border: 1px solid #ccc;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.mix h2 {
    margin: 16px 0;
}

.mix:hover {
    border: 1px solid rgb(13, 189, 13);
}

.mix input {
    width: 42px;
}

.mix button {
    font-size: 16px;
    background-color: rgb(13, 189, 13);
}

.data {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.mix h3 {
    margin: 32px 0;
}