.navbar {
    background: linear-gradient(90deg, #ba0c2f 0%, rgb(76, 18, 19) 100%);
    color: #fff;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 0 32px;
}

.navbar img {
    filter: invert();
    height: 100%;
}