.form {
    border: 1px solid #ddd;
    padding: 32px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    margin-bottom: 16px;
}

.column+.column {
    margin-left: 32px;
}

.column h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.obs {
    resize: none;
    height: 120px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f5f5f5;
    width: 100%;
    border: 1px solid #ddd;
}

/* Custom checkbox */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: rgb(214, 81, 1);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}