.header h1 {
    font-style: 32px;
    color: #eee;
}

.banner {
    width: 100%;
}

.form-cdds {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.form-cdds h1 {
    font-size: 26px;
    margin-bottom: 8px;
}

.form {
    width: 40%;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cdds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #eee;
    padding-left: 32px;
}

.cdds h2 {
    margin-bottom: 22px;
}

.cdds ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cdds li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px #ccc;
    padding: 32px;
    border: 2px solid rgb(245, 100, 10);
    border-radius: 8px;
}

.cdds li:hover {
    background-color: #eee;
}

.cdds li img {
    margin-bottom: 8px;
    width: 128px;
    height: auto;
}

.cdds li h4 {
    font-size: 22px;
    font-weight: 500;
}

.cdds li p {
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
}

.deliveryh {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}

.map-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.map {
    outline: 1px solid rgb(214, 81, 1);
    width: 50%;
    margin-right: 1px;
}

.status {
    width: 25%;
}