@font-face {
  font-family: 'IBM Plex Sans';
  src: url(fonts/IBMPlexSans-Regular.ttf) format('ttf'), url(fonts/IBMPlexSans-Regular.eot) format('eot'), url(fonts/IBMPlexSans-Regular.woff) format('woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

button {
  font-size: 22px;
  font-weight: 800;
  padding: 16px 32px;
  border: none;
  background-color: #ba0c2f;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: ease 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #920e25;
}

button:active {
  background-color: #6f111c;
}